<div class="container">
  <%= simple_form_for @question do |f| %>
    <%= f.input :first_name, label: 'Prénom(s)', error: 'Ce champ est obligatoire' %>
    <%= f.input :last_name, label: 'Nom(s) de famille', error: 'Ce champ est obligatoire' %>
    <%= f.input :email, placeholder: 'user@domain.com', error: 'Ce champ est obligatoire' %>
    <%= f.input :organization, collection: Question::ORGANIZATION, label: 'Organisme', error: 'Ce champ est obligatoire' %>
    <%= f.input :content, label: 'Posez vos questions', error: 'Ce champ est obligatoire' %>
    <%= f.button :submit, "J'envoie mes questions", class: 'btn-erasmus' %>
  <% end %>
</div>
