<div class="banner-container">
  <div class="banner-questions" style="background-image: url('<%= image_path 'questions-banner.svg' %>');">
  </div>
</div>

<div class="dispositif-questions">
  <h5>Dispositif de questions, réponses du <span> 18 Janvier 2021</span>.</h5>
  <p>Vous vous posez des questions et/ou souhaitez obtenir des précisions sur le nouveau programme Erasmus+ 2021-2027 : vous pouvez poser dès à présent vos questions et cela jusqu’à la fin de la 1ère journée de conférence, le 14 janvier 2021.</p>
  <p>Pour cela, il vous suffit simplement de compléter le formulaire ci-dessous.</p>
  <p>Les réponses à vos questions vous seront apportées au cours des sessions, organisées par secteur, le 18 janvier 2021.</p>
</div>

<div class="participant-questions">
  <div class="question-image mx-auto">
    <%= image_tag "picto-question.svg", alt: "Question", height: 150 %>
  </div>
  <div class="new-question-form">
    <h1> Posez vos questions : </h1>
    <%= simple_form_for [@event, @question] do |f| %>
    <%= f.input :organization, collection: Question::ORGANIZATION, prompt: 'Secteur*', label: false, error: 'Ce champ est obligatoire' %>
    <!-- <div class="line-yellow"><%= image_tag "line-yellow.svg", height: 2.3 %>
    </div> -->
    <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :content, placeholder: 'Vos questions', label: false, error: 'Ce champ est obligatoire' %>
  </div>
</div>
<div class="cookies-erasmus">
<input type="checkbox" id="cookies-erasmus" name="cookies-erasmus">
<p> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</p>
<p>*Pour en savoir plus sur la protection de vos données personnelles, consulter les mentions légales. </p>
</div>
    <div class="button-valid-question">
      <%= f.button :submit, "ENVOYER", class: 'btn-erasmus' %>
    </div>
  <% end %>
