<div class="banner-container">
  <div class="banner-questions" style="background-image: url('<%= image_path 'questions-banner.png' %>');">
  </div>
</div>

<div class="dispositif-questions">
  <h5>Posez vos questions, nous y répondrons au cours des sessions organisées le <span>mardi 18 janvier 2021.</span> </h5>
  <p>Vous vous posez des questions et/ou souhaitez obtenir des précisions sur le nouveau programme Erasmus+ 2021-2027 : vous pouvez poser dès à présent vos questions et cela jusqu’à la fin de la 1ère journée de conférence, le 14 janvier 2021.</p>
  <p>Pour cela, il vous suffit simplement de compléter le formulaire ci-dessous.</p>
  <p>Les réponses à vos questions vous seront apportées au cours des sessions, organisées par secteur, le 18 janvier 2021.</p>
</div>

<div class="participant-questions">
  <div class="question-image mx-auto">
    <%= image_tag "picto-question.svg", alt: "Question", height: 150 %>
  </div>
  <div class="new-question-form">
    <h1> Posez vos questions : </h1>
    <%= simple_form_for [@event, @question] do |f| %>
    <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :organization, placeholder: 'Organisation*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :company, collection: Participant::SECTOR, prompt: 'Secteur*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :content, placeholder: 'Vos questions*', label: false, error: 'Ce champ est obligatoire' %>
  </div>
</div>
<div class="cookies-erasmus-question">
  <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</span>
<br><span>*Pour en savoir plus sur la protection de vos données personnelles, consulter les mentions légales.</span>".html_safe %>
</div>
<!-- <div class="g-recaptcha" id="g-recaptcha-question" data-sitekey="6Lcc9OMZAAAAAGc-X0I8gga0Q42Bra7H6HurNgZW">
</div> -->
    <div class="button-valid-question">
      <%= f.button :submit, "ENVOYER", class: 'btn-erasmus' %>
    </div>
  <% end %>
