<div class="banner-container">
  <div class="banner-registration" style="background-image: url('<%= image_path 'registration-banner.png' %>');">
  </div>
</div>
<div class="participant">
  <div class="participant-infos">
    <div class="registration-image mx-auto">
      <%= image_tag "picto-registration.svg", alt: "Registration", height: 150 %>
    </div>
    <div class="participant-registration">
      <div class="new-participant-form">
        <%= simple_form_for [@event, @participant] do |f| %>
        <div class="participant-names">
          <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div class="participant-functions">
          <%= f.input :organization, placeholder: 'Structure*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
      </div>
    </div>
    <div class="workshop-choices">
  <h1>  <%= 'Sélectionnez vos ateliers :' %></h1>
  <div class="text-center">
    <div class="disabled-date-highlighted">
      <span>10 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_1.each_with_index do |workshop, index| %>
    <%= f.simple_fields_for :bookings, Booking.new do |b| %>
    <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-disabled-check-box" data-workshop-id="<%= workshop.id %>">
      <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
      <h2> <%= workshop.name %> </h2>
      <p> <%= workshop.description %></p>
    </div>
    <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="text-center">
    <div class="disabled-date-highlighted">
      <span>17 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_2.each_with_index do |workshop, index| %>
      <%= f.simple_fields_for :bookings, Booking.new do |b| %>
      <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-disabled-check-box" data-workshop-id="<%= workshop.id %>">
      <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
      <h2> <%= workshop.name %> </h2>
      <p> <%= workshop.description %></p>
    </div>
      <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="text-center">
    <div class="date-highlighted">
      <span>24 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_3.each_with_index do |workshop, index| %>
    <%= f.simple_fields_for :bookings, Booking.new do |b| %>
    <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
      <h2> <%= workshop.name %> </h2>
      <p> <%= workshop.description %></p>
        <div class="speakers">
        <h2> Intervenants : </h2>
        <p> <%= simple_format(workshop.speaker) %></p>
      </div>
    </div>
    <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  </div>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</span>
  <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consultez les mentions légales.</span>".html_safe, error: "Veuillez accepter les conditions d'utilisation pour valider votre inscription" %>
  </div>
</div>
<div class="button-valid">
<%= f.button :submit, "JE M'INSCRIS", class: 'button-submit-registration' %>
</div>
<% end %>


<!-- ou

JEES2022

<div class="banner-container">
  <div class="banner-registration position-relative" style="background-image: url('<%#= image_path 'registration-banner.png' %>');">
  </div>
</div>
<div class="conference-registration">
  <div class="conference-title">
    <h1> LA WEBCONFÉRENCE </h1>
    <p><span>5 JUILLET 2022</span></p>
    <p>De <b>14h00 à 18h00</b>, plusieurs tables rondes vous sont proposées en ligne pour mieux appréhender les 4 priorités et découvrir les potentialités du programme Erasmus+ </p>
    <p>Vous souhaitez assister aux tables rondes à distance, remplissez le forumulaire ci-dessous. Un <b>lien de connexion</b> vous sera envoyé par email à l'issue de votre inscription.</p>
  </div>
</div>
<div class="participant">
  <div class="participant-infos">
    <div class="registration-image mx-auto">
      <%#= image_tag "picto-registration.svg", alt: "Registration", height: 150 %>
    </div>
    <div class="participant-registration">
      <div class="new-participant-form">
        <%#= simple_form_for [@event, @participant] do |f| %>
        <div class="participant-names">
          <%#= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
          <%#= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%#= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
      </div>
      <div class="other-participant-info">
        <div class="participant-functions">
          <%#= f.input :organization, placeholder: 'Etablissement*', label: false, error: 'Ce champ est obligatoire' %>
          <%#= f.input :oid_code, placeholder: 'Code OID de l’établissement (si vous en avez un)', label: false %>
          <%#= f.input :service, placeholder: 'Service*', label: false, error: 'Ce champ est obligatoire' %>
          <%#= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%#= f.input :city, placeholder: 'Ville*', label: false, error: 'Ce champ est obligatoire' %>
          <%#= f.input :region, placeholder: 'Région*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
      </div>
    </div>
  </div>
  <div class="new-participant-subscription">
    <%#= f.input :newsletter_subscription, label: "<span class='font-weight-bold'> Souhaitez-vous vous inscrire à la newsletter de l'Agence Erasmus+ France / Education Formation ?*</span>".html_safe, as: :radio_buttons, error: "Veuillez cocher une réponse pour valider votre inscription" %>
  </div>
  <div class="cookies-erasmus-participant">
    <#%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</span>
    <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consultez les mentions légales.</span>".html_safe, error: "Veuillez accepter les conditions d'utilisation pour valider votre inscription" %>
  </div>
</div>
<div class="button-valid">
<#%= f.button :submit, "JE M'INSCRIS", class: 'button-submit-registration' %>
</div>
<#% end %>

-->

<!-- ou

AQUILOGIA

<div class="banner-container">
  <div class="banner-registration position-relative" style="background-image: url('<%= image_path 'aquilogia_banner.svg' %>');">
  </div>
</div>
<div class="home-registration">
  <div class="home-text">
    <p>Nous avons le plaisir de vous convier à l'inauguration de notre nouvelle agence Aquilogia Patrimoine à Saint-Jean-de-Luz.</p>
    <h1>AU PROGRAMME</h1>
    <p><b>17h00 - 18h00 :</b>  Venez découvrir nos bureaux autour d'une coupe de champagne</p>
    <p><b>18h30 : Cocktail dinatoire</b>  sur la terrasse de l'Hôtel Helianthal<br>
    Place Maurice Ravel <br>
    64500 SAINT-JEAN-DE-LUZ</p>
    <p><b>Nous vous remercions de bien vouloir vous inscrire en remplissant le formulaire ci-dessous :</b></p>
  </div>
</div>
<div class="participant">
  <div class="participant-infos">
    <div class="participant-registration">
      <div class="new-participant-form">
        <%= simple_form_for [@event, @participant] do |f| %>
        <div class="participant-names">
          <%= f.input :first_name, placeholder: "Prénom(s)*", label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :last_name, placeholder: "Nom(s) de famille*", label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%= f.input :email, placeholder: "Email*", label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div class="participant-names">
          <%= f.input :organization, placeholder: "Société", label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :oid_code, placeholder: "Nombre d'accompagnant(s)", label: false %>
        </div>
      </div>
    </div>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées au seul destinataire suivant : Aquilogia Patrimoine*</span>
    <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consultez les mentions légales.</span>".html_safe, error: "Veuillez accepter les conditions d'utilisation pour valider votre inscription" %>
  </div>
  </div>
</div>
<div class="button-valid">
<%= f.button :submit, "JE M'INSCRIS", class: 'button-submit-registration' %>
</div>
<% end %>

-->
