<div class="banner-container">
  <div class="banner-registration" style="background-image: url('<%= image_path 'registration-banner.png' %>');">
  </div>
</div>
<div class="dispositif-questions">
<h5>Remplissez le formulaire ci-dessous et choisissez les ateliers des <span>14 et 18 janvier 2021</span> qui vous intéressent.</h5>
<p>Un courriel vous sera envoyé vous permettant de vous connecter à ces sessions.</p>
</div>

<div class="participant-infos">
  <div class="registration-image mx-auto">
    <%= image_tag "registration-picto.svg", alt: "Registration", height: 150 %>
  </div>
  <div class="new-participant-form">
    <%= simple_form_for [@event, @participant] do |f| %>
    <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :organization, placeholder: 'Organisation*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :company, collection: Participant::SECTOR, prompt: 'Secteur*', label: false, error: 'Ce champ est obligatoire' %>
    <%= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
    </div>
  </div>
</div>
<div class="fleche-scroll-registration">
  <%= image_tag "fleche-scroll.svg", height: 50 %>
</div>

<div class="workshop-choices">
  <h1>  <%= 'Sélectionnez vos ateliers :' %></h1>
  <div class="text-center">
    <div class="date-highlighted-yellow">
      <span>14 JANVIER 2021</span>
    </div>
  </div>
    <% @workshops_1.each_with_index do |workshop, index| %>
    <%= f.simple_fields_for :bookings, Booking.new do |b| %>
    <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> <span style="color: #004F99"> - <%= workshop.name %> - </span></h1>
      <!--  <h3> Intervenant : <%= workshop.speaker %></h3> -->
      <p> <%= workshop.description %></p>
    </div>
    <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="text-center">
    <div class="date-highlighted-yellow">
      <span>18 JANVIER 2021</span>
    </div>
  </div>
    <% @workshops_2.each_with_index do |workshop, index| %>
      <%= f.simple_fields_for :bookings, Booking.new do |b| %>
      <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> <span style="color: #004F99"> - <%= workshop.name %> - </span></h1>
      <!--  <h3> Intervenant : <%= workshop.speaker %></h3> -->
      <p> <%= workshop.description %></p>
    </div>
      <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</span>
  <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consulter les mentions légales.</span>".html_safe %>
  </div>
  <div class="g-recaptcha" data-sitekey="6Lcc9OMZAAAAAGc-X0I8gga0Q42Bra7H6HurNgZW">
  </div>
</div>
<div class="button-valid-registration">
<%= f.button :submit, "JE M'INSCRIS", class: 'btn-erasmus' %>
</div>
<% end %>


