<div class="banner-container">
  <div class="banner-registration position-relative" style="background-image: url('<%= image_path 'registration-banner.png' %>');">
  </div>
</div>
<div class="participant">
  <div class="participant-infos">
    <div class="registration-image mx-auto">
      <%= image_tag "picto-registration.svg", alt: "Registration", height: 150 %>
    </div>
    <div class="participant-registration">
      <div class="new-participant-form">
        <%= simple_form_for [@event, @participant] do |f| %>
        <div class="participant-names">
          <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
      </div>
      <div class="other-participant-info">
        <div class="participant-functions">
          <%= f.input :organization, placeholder: 'Etablissement*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :oid_code, placeholder: 'Code OID de l’établissement (si vous en avez un)', label: false %>
          <%= f.input :service, placeholder: 'Service*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%= f.input :city, placeholder: 'Ville*', label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :region, placeholder: 'Région*', label: false, error: 'Ce champ est obligatoire' %>
        </div>
      </div>
    </div>
  </div>
  <div class="new-participant-subscription">
    <%= f.input :newsletter_subscription, label: "<span class='font-weight-bold'> Souhaitez-vous vous inscrire à la newsletter de l'Agence Erasmus+ France / Education Formation ?*</span>".html_safe, as: :radio_buttons, error: "Veuillez cocher une réponse pour valider votre inscription" %>
  </div>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Agence Erasmus+*</span>
    <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consultez les mentions légales.</span>".html_safe, error: "Veuillez accepter les conditions d'utilisation pour valider votre inscription" %>
  </div>
</div>
<div class="button-valid">
<%= f.button :submit, "JE M'INSCRIS", class: 'button-submit-registration' %>
</div>
<% end %>
