<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
  </div>
<!-- <div class="banner-container">
  <div class="banner-registration" style="background-image: url('<%= image_path 'registration-banner.png' %>');">
  </div>
</div> -->
<div class="registration">
  <p>L’ensemble des tables rondes seront animées par M. Daouda Diagne, Docteur en sociologie rurale, membre du comité d’orientation et de suivi du programme PAFAO et spécialiste du monde paysan ouest africain (Sénégal), et modérées par M. Doudou Gueye, enseignant chercheur au département sociologie de l’Université Assane Seck de Ziguinchor.</p>
  <p> Vous avez la possibilité de vous inscrire à toutes les sessions ou seulement celles de votre choix : </p>
<!-- <h5>Remplissez le formulaire ci-dessous et choisissez les ateliers des <span>14 et 18 janvier 2021</span> qui vous intéressent.</h5>
<p>Un courriel vous sera envoyé vous permettant de vous connecter à ces sessions.</p>
<h5>Les inscriptions à la <strong> Conférence Erasmus + Bilan et Perspectives </strong> sont à présent closes.</h5>
<p>La <strong> conférence </strong> et le <strong> replay </strong> seront accessibles sur <span> <%= link_to "la chaîne Youtube de l’Agence Erasmus + France / Education Formation", 'https://www.youtube.com/user/Lagence2E2F/featured', target: "_blank" %>.</span></p>
<p>Vous avez aussi la possibilité de <span><%= link_to "poser vos questions", new_event_question_path(Event.first), data:{turbolinks:false} %></span> sur le nouveau programme dès à présent sur le site : nous y répondrons au cours des quatre sessions organisées le 18 janvier 2021.</p> -->
  <div class="fleche-scroll">
    <%= image_tag "fleche-scroll.svg" %>
  </div>
</div>
<div class="participant">
  <h1>  <%= 'Vos informations :' %></h1>
  <div class="participant-infos">
    <div class="registration-image mx-auto">
      <%= image_tag "registration-picto.svg", alt: "Registration", height: 150 %>
    </div>
    <div class="new-participant-form">
      <%= simple_form_for [@event, @participant] do |f| %>
      <%= f.input :email, placeholder: 'Email*', label: false, error: 'Ce champ est obligatoire' %>
      <%= f.input :first_name, placeholder: 'Prénom(s)*', label: false, error: 'Ce champ est obligatoire' %>
      <%= f.input :last_name, placeholder: 'Nom(s) de famille*', label: false, error: 'Ce champ est obligatoire' %>
      <%= f.input :organization, placeholder: 'Entreprise / Organisation*', label: false, error: 'Ce champ est obligatoire' %>
      <%#= f.input :company, collection: Participant::SECTOR, prompt: 'Secteur*', label: false, error: 'Ce champ est obligatoire' %>
      <%= f.input :position, placeholder: 'Fonction*', label: false, error: 'Ce champ est obligatoire' %>
      </div>
    </div>
  </div>
</div>

<div class="workshop-choices">
  <h1>  <%= 'Sélectionnez vos ateliers :' %></h1>
  <div class="text-center">
    <div class="date-highlighted-yellow">
      <span>10 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_1.each_with_index do |workshop, index| %>
    <%= f.simple_fields_for :bookings, Booking.new do |b| %>
    <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> <span style="color: #BD4B10"> - <%= workshop.name %> - </span></h1>
      <p> <%= simple_format(workshop.description) %></p>
    </div>
    <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="text-center">
    <div class="date-highlighted-yellow">
      <span>17 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_2.each_with_index do |workshop, index| %>
      <%= f.simple_fields_for :bookings, Booking.new do |b| %>
      <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> <span style="color: #BD4B10"> - <%= workshop.name %> - </span></h1>
      <p> <%= simple_format(workshop.description) %></p>
    </div>
      <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="text-center">
    <div class="date-highlighted-yellow">
      <span>24 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_3.each_with_index do |workshop, index| %>
    <%= f.simple_fields_for :bookings, Booking.new do |b| %>
    <%= b.hidden_field :workshop_id, value: workshop.id %>
    <div class="my-check-box" data-workshop-id="<%= workshop.id %>">
      <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> <span style="color: #BD4B10"> - <%= workshop.name %> - </span></h1>
      <p> <%= simple_format(workshop.description) %></p>
    </div>
    <%= b.input :status, as: :string, input_html: { class: "statusInput#{workshop.id} d-none", value: "" }, label_html: { class: "d-none" }, value: "", label: false %>
    <% end %>
  <% end %>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées aux seuls destinataires suivants : Association Grdr*</span>
  <br><span>*Pour en savoir plus sur la protection de vos données personnelles, consulter les mentions légales.</span>".html_safe %>
  </div>
</div>

<div class="button-valid">
<%= f.button :submit, "JE M'INSCRIS", class: 'btn-grdr' %>
</div>
<% end %>


