<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
  </div>
</div>


<div class="new_participant-show">
  <div class="registration-image-show mx-auto">
    <%= image_tag "registration-picto.svg", alt: "Registration", height: 150 %>
  </div>
  <div class="participant-infos-show">
    <h1> Nous vous remercions <%= @participant.first_name %> <%= @participant.last_name %> pour votre inscription !</h1>
    <h2><span style="color: #7A8E00; font-weight: bold"> Récapitulatif de votre inscription : </span></h2>
    <p> <span style="color: #BD4B10; font-weight: bold"> Email : </span> <%= @participant.email %></p>
    <p> <span style="color: #BD4B10; font-weight: bold"> Prénom : </span> <%= @participant.first_name %></p>
    <p> <span style="color: #BD4B10; font-weight: bold"> Nom : </span> <%= @participant.last_name %></p>
    <p> <span style="color: #BD4B10; font-weight: bold"> Entreprise / Organisation : </span> <%= @participant.organization %></p>
    <p> <span style="color: #BD4B10; font-weight: bold"> Fonction : </span> <%= @participant.position %></p>
    <p></p>
    <h2><span style="color: #7A8E00; font-weight: bold"> Les tables rondes sélectionnées : </span></h2>
    <div class="workshop-details">
      <% @bookings_by_date.each do |date, bookings| %>
        <p><%= date.strftime("%e/%m/%Y") %> </p>
        <% bookings.each do |booking| %>
          <h4><span style="color: #BD4B10; font-weight: bold"><%= booking.workshop.start_at.strftime("%Hh%M")%> - <%= booking.workshop.end_at.strftime("%Hh%M") %> : </span><%= booking.workshop.name %> </h4>
          <h4><%= booking.workshop.description %></h4>
          <h4><span style="color: #BD4B10; font-weight: bold"><%= "Intervenants : " %></span><%= simple_format(booking.workshop.speaker) %></h4>
        <% end %>
      <% end %>
    </div>
    <p></p>
    <h2><span style="color: #7A8E00; font-weight: bold"> Informations importantes : </span></h2>
    <div class="participant-instructions">
     <h1> Afin d'accéder à l'événement, veuillez suivre les étapes suivantes : </h1>
     <p> 1. (Facultatif) Créez-vous un compte sur la plateforme Imagina en utilisant la même adresse email renseignée lors de votre inscription en cliquant ici : <%= link_to "JE CRÉE MON COMPTE", "https://app.imagina.io/account/login", target: "_blank", class: "btn btn-grdr" %> </p>
     <p> 2. Accédez à l'événement "Les Jeudis du Littoral Ouest Africain" en cliquant ici : <%= link_to "JE REJOINS LES CONFÉRENCES", "https://app.imagina.io/location/111255", target: "_blank", class: "btn btn-grdr" %> </p>
    </div>
    <!-- <p></p>
    <h3>Vous vous posez des questions et/ou souhaitez obtenir des précisions sur le nouveau programme Erasmus+ 2021-2027 : vous pouvez poser dès à présent vos questions et cela jusqu’à la fin de la 1ère journée de conférence, le 14 janvier 2021.</h3>
    <h3>Pour cela, il vous suffit simplement de vous rendre sur la page VOS QUESTIONS :</h3>
    <p></p> -->
    <!-- <div class="text-center">
      <%= link_to "POSEZ VOS QUESTIONS", new_event_question_path(Event.first), data:{turbolinks:false}, class: "btn btn-erasmus", style: "justify-content: center" %>
    </div> -->
  </div>
</div>
