<div class="banner-container">
  <div class="banner-registration" style="background-image: url('<%= image_path 'registration-banner.svg' %>');">
  </div>
</div>


<div class="new_participant-show">
  <div class="registration-image-show mx-auto">
    <%= image_tag "registration-picto.svg", alt: "Registration", height: 150 %>
  </div>
  <div class="participant-infos-show">
    <h1> Merci <%= @participant.first_name %> <%= @participant.last_name %> pour votre inscription !</h1>
    <h2> Récapitulatif de votre inscription : </h2>
    <p> <span style="color: #009EE2; font-weight: bold"> Prénom : </span> <%= @participant.first_name %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Nom : </span> <%= @participant.last_name %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Email : </span> <%= @participant.email %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Organisme : </span> <%= @participant.company %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Adresse : </span> <%= @participant.address %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Code Postal : </span> <%= @participant.zipcode %></p>
    <p> <span style="color: #009EE2; font-weight: bold"> Ville : </span> <%= @participant.city %></p>

    <h2> Vos ateliers : </h2>
    <div class="worshop-details">
      <% @bookings_by_date.each do |date, bookings| %>
        <p><%= date.strftime("%e/%m/%Y") %> </p>
        <% bookings.each do |booking| %>
          <h4><span style="color: #009EE2; font-weight: bold"><%= booking.workshop.start_at.strftime("%Hh%M")%> - <%= booking.workshop.end_at.strftime("%Hh%M") %> : </span><%= booking.workshop.name %> </h4>
        <% end %>
      <% end %>
    </div>
    <p></p>
    <p></p>
    <h3>Vous vous posez des questions et/ou souhaitez obtenir des précisions sur le nouveau programme Erasmus+ 2021-2027 : vous pouvez poser dès à présent vos questions et cela jusqu’à la fin de la 1ère journée de conférence, le 14 janvier 2021.</h3>
    <h3>Pour cela, il vous suffit simplement de vous rendre sur la page VOS QUESTIONS :</h3>
    <p></p>
    <div class="text-center">
      <%= link_to "POSEZ VOS QUESTIONS", new_event_question_path(Event.first), data:{turbolinks:false}, class: "btn btn-erasmus", style: "justify-content: center" %>
    </div>
  </div>
</div>
