<div class="banner-container">
  <div class="banner-registration" style="background-image: url('<%= image_path 'registration-banner.svg' %>');">
  </div>
</div>

<div class="container">
  <h1>Confirmation</h1>
  <%= @participant.first_name %>
  <%= @participant.last_name %>
  <%= @participant.company %>
  <%= @participant.address %>
  <%= @participant.zipcode %>
  <%= @participant.city %>

<% @bookings.each do |booking| %>
  <%= booking.workshop.name %>
<% end %>

  <div class="card-button">
    <p><%= link_to "Retour",  root_path, class: "btn-erasmus" %></p>
  </div>
</div>
