<div class="container-fluid">
  <div class="footer row">
    <div class="col-12 col-lg-4">
      <div class="contact">
        <div class="contact-highlighted-white">
          <span> CONTACT</span>
        </div>
        <div class="email_contact">
          <%= image_tag "picto-email.svg", alt: "Email", height: 20 %>
          <a href="mailto:webcast@agence-erasmus.fr">Nous contacter par email</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="legal">
        <p></p>
        <%= link_to "Mentions légales", legal_path, class: "nav-link" %>
        <%= link_to "Politique de confidentialité et cookies", confidential_path, class: "nav-link" %>
        <p></p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="logos-footer">
      <%= link_to "https://agence.erasmusplus.fr/", target:"_blank" do %>
        <%= image_tag "logo_agenceerasmusplus.png", alt: "Agence Erasmus+", height: 80 %>
      <% end %>
      </div>
    </div>
  </div>
</div>

