<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_site_erasmus.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item strong">
        <%= link_to "ACCUEIL", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "INSCRIPTION", new_event_participant_path(Event.first), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ERASMUS +", erasmusplus_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "PROGRAMME", programme_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "VOS QUESTIONS", questions_path, class: "nav-link" %>
      </li>
      <a href="https://www.instagram.com/agence_erasmus"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/ErasmusplusFR"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/ErasmusplusFR"><i class="fab fa-twitter"></i></a>
    </ul>
  </div>
</div>
