<div class="banner-container">
  <div class="banner-registration position-relative" style="background-image: url('<%= image_path 'aquilogia_banner.jpg' %>');">
  </div>
</div>
<div class="home-registration">
  <div class="home-text">
    <p>Nous avons le plaisir de vous convier à l'inauguration de notre nouvelle agence Aquilogia Patrimoine à Saint-Jean-de-Luz.</p>
    <h1>AU PROGRAMME</h1>
    <p><b>17h00 - 18h00 :</b>  Venez découvrir nos bureaux autour d'une coupe de champagne</p>
    <p><b>18h30 : Cocktail dinatoire</b>  sur la terrasse de l'Hôtel Helianthal<br>
    Place Maurice Ravel <br>
    64500 SAINT-JEAN-DE-LUZ</p>
    <p><b>Nous vous remercions de bien vouloir vous inscrire en remplissant le formulaire ci-dessous :</b></p>
  </div>
</div>
<div class="participant">
  <div class="participant-infos">
    <div class="participant-registration">
      <div class="new-participant-form">
        <%= simple_form_for [@event, @participant] do |f| %>
        <div class="participant-names">
          <%= f.input :first_name, placeholder: "Prénom(s)*", label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :last_name, placeholder: "Nom(s) de famille*", label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div>
          <%= f.input :email, placeholder: "Email*", label: false, error: 'Ce champ est obligatoire' %>
        </div>
        <div class="participant-names">
          <%= f.input :organization, placeholder: "Société", label: false, error: 'Ce champ est obligatoire' %>
          <%= f.input :oid_code, placeholder: "Nombre d'accompagnant(s)", label: false %>
        </div>
      </div>
    </div>
  <div class="cookies-erasmus-participant">
    <%= f.input :accepted_conditions, label: "<span class='font-weight-bold'> J’accepte que les données collectées soient communiquées au seul destinataire suivant : Aquilogia Patrimoine*</span>".html_safe, error: "Veuillez accepter les conditions d'utilisation pour valider votre inscription" %>
  </div>
  </div>
</div>
<div class="button-valid">
<%= f.button :submit, "JE M'INSCRIS", class: 'button-submit-registration' %>
</div>
<% end %>
