<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'accueil-banner.svg' %>');">
    <div class="d-flex flex-wrap">
      <div class="col-12">
        <%= link_to programme_path, class: "button-program banner-button-margin" do %>
          <%= image_tag "button-program.svg" %>
        <% end %>
      </div>
      <div class="col-12 col-xl-8">
        <%= link_to new_event_participant_path(Event.first), class: "button-registration banner-button-margin" do %>
          <%= image_tag "button-registration.svg" %>
        <% end %>
      </div>
      <div class="col-12 col-xl-4">
        <%= link_to new_event_question_path(Event.first), class: "button-questions banner-button-margin" do %>
          <%= image_tag "button-questions.svg" %>
        <% end %>
      </div>
    </div>
    <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div>
  </div>
  <div class="conference-presentation">
    <div class="conference-title">
      <%= image_tag "conference.svg", alt: "LA CONFERENCE", height: 50 %>
    </div>
    <div class="conference-details">
      <div class="webinar-image mx-auto">
        <%= image_tag "online-class.svg", alt: "Webinar", height: 100 %>
      </div>
      <div class="conference-text-presentation">
       <h1> Mincienist et enitio. Id maximus sunt ium quo dolorep eritaspit qui te. </h1>
       <p> Temporepe volupta tiorrum videbist et voluptat event. Savope quo de savoluptatus, conem doloreh endipid modit, ut facepro cullit volorio dolum quo berum dem. Mincienist et enitio. Id maximus sunt ium quo dolorep </p>
      </div>
    </div>
  </div>
</div>
