<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
    <!-- <div class="d-flex flex-wrap">
      <div class="col-12">
        <%= link_to "DECOUVREZ LE PROGRAMME", programme_path, class: "button-program banner-button-margin" %>
      </div>
      <div class="col-12 col-xl-8">
        <%= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.first), data:{turbolinks:false}, class: "button-registration banner-button-margin" %>
      </div>
      <div class="col-12 col-xl-4">
        <%= link_to "POSEZ VOS QUESTIONS", new_event_question_path(Event.first), data:{turbolinks:false}, class: "button-questions banner-button-margin"%>
      </div>
    </div> -->
<!--     <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div> -->
  </div>
  <%#= render 'modal/modal_home' %>
  <div class="event-info">
    <p>Pour accéder à la table ronde 1 <b>Le littoral ouest africain : à la croisée des enjeux de protection et d’exploitation</b> : 09h00 - 10h30 GMT (11h00 - 12h30 France) <%= link_to "cliquez ici", "https://app.imagina.io/module/213667/111255", target: "_blank" %></p>
    <p>Plus de 200 inscrits de 19 pays différents à l’ensemble des 3 tables rondes ! Pour échanger avec eux, n’hésitez pas à créer un compte sur la plateforme de l’événement en <%= link_to "cliquant ici", "https://app.imagina.io/account/login", target: "_blank" %></p>
    <p>Pour aller plus loin sur les enjeux qui seront abordés lors des conférences, consultez notre Story Map « Les enjeux majeurs du Littoral » en <%= link_to "cliquant ici", "https://app.imagina.io/module/216065/111255", target: "_blank" %></p>
  </div>
  <div class="conference-presentation">
    <div class="conference-title">
      <!-- <h1> LA CONFÉRENCE </h1> -->
      <%#= image_tag "conference.png", alt: "LA CONFERENCE", height: 50 %>
    </div>
    <div class="conference-details">
      <div class="webinar-image mx-auto">
        <%= image_tag "online-class.svg", alt: "Webinar", height: 100 %>
      </div>
      <div class="conference-text-presentation">
        <!-- <h1> Lorem ipsum dolor sit amet </h1> -->
        <p> Depuis plus de 50 ans, en Afrique de l’Ouest, le Grdr <i>Migration-Citoyenneté-Développement</i> accompagne des territoires frontaliers sujets à de fortes mutations démographiques, économiques, sociales et environnementales.
        </p>
        <p> Ce cycle de visioconférences qui se tiendra les <span>10, 17 et 24 juin</span>, permettra d’aborder les dynamiques et les évolutions de ces territoires aux côtés d’acteurs locaux, de chercheurs et de partenaires du développement. Nous y aborderons les questions relatives aux ressources naturelles, aux opportunités économiques, aux mobilités humaines ou encore à la place des jeunes et des femmes.
        </p>
      </div>
      <!-- <div class="conference-text-presentation">
        <h1> L’agence Erasmus+ France / Education Formation organise une conférence nationale en ligne pour présenter le nouvel Erasmus+ 2021-2027. Cet évènement permettra aussi de faire le point sur les réalisations du programme pour la période 2014-2020 et des défis qui restent à relever. </h1>
        <p> </p>
        <p> Toutes les organisations de formation, établissements, associations, collectivités territoriales pourront découvrir la palette des opportunités offertes pour l’enseignement scolaire, la formation professionnelle, l’éducation des adultes et l’enseignement supérieur, la jeunesse et le sport.
        Cette conférence en ligne est organisée en collaboration avec l’agence Erasmus+ France / Jeunesse & Sport.</p>
        <p> Un grand nombre de participants, connaisseurs ou néophytes du programme Erasmus+ sont invités à participer à cet évènement qui se déroulera sous format virtuel. </p>
        <p>Vous avez aussi la possibilité de <span><%= link_to "poser vos questions sur le nouveau programme", new_event_question_path(Event.first), data:{turbolinks:false} %></span> dès à présent sur le site : nous y répondrons au cours des quatre sessions organisées le 18 janvier 2021.</p>
      </div> -->
    </div>
    <div div class="d-flex flex-wrap">
      <%= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.last), data:{turbolinks:false}, class: "button-registration" %>
    </div>
  </div>
  <div class="logos-officiels">
    <%= image_tag "logo_AFD.png", alt: "AFD", height: 80 %>
    <%= image_tag "logo_UE.png", alt: "UE", height: 80 %>
    <%= image_tag "logo_FAP.png", alt: "FAP", height: 80 %>
    <%= image_tag "logo_CFSI.png", alt: "CFSI", height: 80 %>
    <%= image_tag "logo_OIM.png", alt: "OIM", height: 80 %>
    <%= image_tag "logo_Expertise_France.png", alt: "Expertise France", height: 50, margin: 20 %>
  </div>
</div>
