<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'accueil-banner.png' %>');">
    <div class="d-flex flex-wrap">
      <div class="col-12">
        <%= link_to "DECOUVREZ LE PROGRAMME", programme_path, class: "button-program banner-button-margin" %>
          <%#= image_tag "button-program.png" %>
        <%# end %>
      </div>
      <div class="col-12 col-xl-8">
        <%= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.first), data:{turbolinks:false}, class: "button-registration banner-button-margin" %>
          <%#= image_tag "button-registration.png" %>
        <%# end %>
      </div>
      <div class="col-12 col-xl-4">
        <%= link_to "POSEZ VOS QUESTIONS", new_event_question_path(Event.first), data:{turbolinks:false}, class: "button-questions banner-button-margin"%>
        <%#= link_to new_event_question_path(Event.first), data:{turbolinks:false}, class: "button-questions banner-button-margin" do %>
          <%#= image_tag "button-questions.png" %>
        <%# end %>
      </div>
    </div>
    <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div>
  </div>
  <div class="conference-presentation">
    <div class="conference-title">
      <%= image_tag "conference.png", alt: "LA CONFERENCE", height: 50 %>
    </div>
    <div class="conference-details">
      <div class="webinar-image mx-auto">
        <%= image_tag "online-class.svg", alt: "Webinar", height: 100 %>
      </div>
      <div class="conference-text-presentation">
        <h1> L’Agence nationale Erasmus+ organise une conférence nationale en ligne pour présenter le nouvel Erasmus+ 2021-2027. Cet évènement permettra aussi de faire le point sur les réalisations du programme en cours et des défis qui restent à relever. </h1>
        <p> </p>
        <p> Toutes les organisations de formation, établissements, associations, collectivités territoriales pourront découvrir la palette des opportunités offertes pour l’enseignement scolaire, la formation professionnelle, l’éducation des adultes et l’enseignement supérieur.
        Un grand nombre de participants, connaisseurs ou néophytes du programme Erasmus+ sont invités à participer à cet évènement qui se déroulera sous format virtuel. </p>
        <p>Vous avez aussi la possibilité de poser vos questions sur le nouveau programme dès à présent sur le site : nous y répondrons au cours des quatre sessions organisées le 18 janvier 2021.</p>
      </div>
    </div>
  </div>
</div>
