<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'infos-banner.png' %>');">
  </div>
</div>

<div class="event-presentation">
  <div class="event-presentation-text">
    <h1> ➞ Pour les partipants à l'événement en présentiel à Bordeaux </h1>
    <div class="presentation-body">
      <%= image_tag "yellow_line.svg", height: 8 %>
      <h1> Lieu de l'événement </h1>
      <h2> Centre de Congrès Cité Mondiale </h2>
      <p>18, parvis des Chartrons <br>
         33000 Bordeaux </p>
    </div>
    <div class="presentation-body">
      <%= image_tag "yellow_line.svg", height: 8 %>
      <h1> Accès </h1>
      <p></p>
      <h2> En voiture </h2>
      <p>Direction Bordeaux Centre <br>
         Parking public Cité Mondiale <br>
         20 quai des Chartrons <br>
         33000 Bordeaux</p>
      <p></p>
      <h2> En tramway </h2>
      <p>Arrêt CAPC Musée d’Art Contemporain<br>
      Ligne B directe depuis le centre ville </p>
      <p></p>
      <h2> En train </h2>
      <p>Arrivée Gare Saint Jean<br>
        Tram C → arrêt Quinconces puis Tram B → arrêt CAPC </p>
    </div>
    <div class="presentation-body">
      <%= image_tag "yellow_line.svg", height: 8 %>
      <h1> Sur place </h1>
      <p>Pour faciliter votre passage à l'accueil, nous vous demandons de vous présenter à l'accueil de l'événement avec votre <b>badge déjà imprimé</b>. </p>
    </div>
  </div>
  <div class="event-presentation-image">
    <%= image_tag "cite_mondiale.jpg", alt: "cité mondiale" %>
    <%= image_tag "brisbane.jpg", alt: "amphithéatre" %>
  </div>
</div>
