<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
  </div>
</div>
<!-- <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div> -->
<div class="event-presentation">
  <div class="event-presentation-text">
    <p><b><span>Les régions du littoral ouest africain</span>, de Ziguinchor (Sénégal) à Boké (Guinée) en passant par Cacheu (Guinée Bissau), sont intégrées de longue date aux flux économiques mondiaux et sous régionaux et regorgent de ressources renouvelables et non renouvelables, dont l’exploitation attire et profite à de nombreux acteurs. Ces <span> territoires dynamiques </span> sont soumis à des évolutions économiques, sociales et environnementales liées à une forte croissance démographique, un processus d’urbanisation soutenu et une <span>forte mobilité humaine</span>.</b></p>
  </div>
  <div class="event-presentation-map">
    <p>CARTE A INTEGRER</p>
    <%#= image_tag "carte_PGCL.jpg", alt: "carte" %>
  </div>
  <div class="event-presentation-text">
    <p>L’ensemble de ces enjeux seront abordés lors d’un cycle de <span>3 tables rondes</span> organisées par le Grdr Migration-Citoyenneté-Développement, en partenariat avec l’Université Assane Seck de Ziguinchor (UASZ). Ces conférences permettront de confronter les regards sur ces territoires, mais aussi de croiser les expériences des acteurs des territoires et des expertises locales, nationales et transnationales pour apporter des réponses aux différentes questions soulevées.
    </p>
    <p>Lors d’un temps de débat, nous donnerons l’opportunité aux participants de <span>poser leurs questions</span> aux intervenants et d’apporter leur contribution au débat.
    </p>
    <p>Ce cycle de conférences est organisé dans le cadre du « Programme pour la Gouvernance Concertée du Littoral II : vers des territoires résilients aux chocs socio-climatiques (Sénégal, Guinée Bissau, Guinée »  mis en œuvre par le Grdr Migration-Citoyenneté-Développement et cofinancé par l’AFD, l’UE, la Fondation Abbé Pierre, le CFSI, l’OIM et Expertise France.
    </p>
  </div>
  <div class="logos-officiels">
    <%= image_tag "logo_AFD.png", alt: "AFD", height: 80 %>
    <%= image_tag "logo_UE.png", alt: "UE", height: 80 %>
    <%= image_tag "logo_FAP.png", alt: "FAP", height: 80 %>
    <%= image_tag "logo_CFSI.png", alt: "CFSI", height: 80 %>
    <%= image_tag "logo_OIM.png", alt: "OIM", height: 80 %>
    <%= image_tag "logo_Expertise_France.png", alt: "Expertise France", height: 50, margin: 20 %>
  </div>
</div>
