<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
  </div>
</div>
<!-- <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div> -->
<div class="event-presentation">
  <div class="event-presentation-text">
    <p>Le littoral ouest africain, qui relie Ziguinchor (Sénégal) à Boké (Guinée) en passant par Canchungo (Guinée Bissau), est intégré de longue date aux flux économiques mondiaux et sous régionaux. Il regorge de ressources renouvelables et non renouvelables, dont l’exploitation attire et profite à de nombreux acteurs. Ces territoires, dynamiques, sont soumis à des évolutions économiques, sociales et environnementales liées à une forte croissance démographique, à un processus d’urbanisation soutenu et à une forte mobilité humaine. Ce dynamisme et ces évolutions interrogent quant au devenir de ces territoires du littoral ouest africain.
    </p>
    <p>L’ensemble de ces enjeux seront abordés lors d’un cycle de 3 tables rondes organisées par le Grdr <i>Migration-Citoyenneté-Développement</i>, en partenariat avec l’Université Assane Seck de Ziguinchor (UASZ). Ces conférences permettront de confronter les regards sur ces territoires, et de croiser expériences et expertises locales, nationales et transnationales.
    </p>
    <p>Un temps de débat donnera aux participants l’opportunité d’apporter leur contribution et de poser des questions aux intervenants.
    </p>

  </div>
  <div class="event-presentation-map">
    <%= image_tag "carte.jpg", alt: "carte" %>
    <%#= image_tag "logo_AFD.png", alt: "carte" %>
  </div>
  <div class="table-ronde">
  <div class="text-center">
    <div class="date-highlighted">
      <span>10 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_1.each_with_index do |workshop, index| %>
      <div class="table-ronde-box" data-workshop-id="<%= workshop.id %>">
        <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
        <h2> <%= workshop.name %> </h2>
        <p> <%= workshop.description %></p>
        <div class="table-ronde-speakers">
          <h2> Intervenants : </h2>
          <p> <%= simple_format(workshop.speaker) %></p>
          <p><u> <%= link_to "Pour une présentation détaillée des intervenants", "https://app.imagina.io/module/214293/111255", target: "_blank" %></u></p>
        </div>
      </div>
    <% end %>
  <div class="text-center">
    <div class="date-highlighted">
      <span>17 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_2.each_with_index do |workshop, index| %>
      <div class="table-ronde-box" data-workshop-id="<%= workshop.id %>">
        <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
        <h2> <%= workshop.name %> </h2>
        <p> <%= workshop.description %></p>
        <div class="table-ronde-speakers">
          <h2> Intervenants : </h2>
          <p> <%= simple_format(workshop.speaker) %></p>
          <p><u> <%= link_to "Pour une présentation détaillée des intervenants", "https://app.imagina.io/module/214294/111255", target: "_blank" %></u></p>
        </div>
      </div>
    <% end %>
  <div class="text-center">
    <div class="date-highlighted">
      <span>24 JUIN 2021</span>
    </div>
  </div>
    <% @workshops_3.each_with_index do |workshop, index| %>
      <div class="table-ronde-box" data-workshop-id="<%= workshop.id %>">
        <h2> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %> GMT (11h00 – 12h30 France) </h2>
        <h2> <%= workshop.name %> </h2>
        <p> <%= workshop.description %></p>
        <div class="table-ronde-speakers">
          <h2> Intervenants : </h2>
          <p> <%= simple_format(workshop.speaker) %></p>
          <p><u> <%= link_to "Pour une présentation détaillée des intervenants", "https://app.imagina.io/module/214295/111255", target: "_blank" %></u></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="event-presentation-text-italic">
  <p>Ce cycle de conférences est organisé dans le cadre du « Programme pour la Gouvernance Concertée du Littoral II : vers des territoires résilients aux chocs socio-climatiques (Sénégal, Guinée Bissau, Guinée) » mis en œuvre par le Grdr Migration-Citoyenneté-Développement et cofinancé par l’Agence Française de Développement (AFD), l’Union Européenne (UE), la Fondation Abbé Pierre (FAP), le Comité Français pour la Solidarité Internationale (CFSI), l’Organisation Internationale pour les Migrations (OIM) et Expertise France.
    </p>
</div>
<div class="logos-officiels">
  <%= image_tag "logo_AFD.png", alt: "AFD", height: 80 %>
  <%= image_tag "logo_UE.png", alt: "UE", height: 80 %>
  <%= image_tag "logo_FAP.png", alt: "FAP", height: 80 %>
  <%= image_tag "logo_CFSI.png", alt: "CFSI", height: 80 %>
  <%= image_tag "logo_OIM.png", alt: "OIM", height: 80 %>
  <%= image_tag "logo_Expertise_France.png", alt: "Expertise France", height: 50, margin: 20 %>
</div>
