<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>10 novembre 2021</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <% @workshops_1.each do |workshop| %>
            <%= image_tag "yallow_line.svg", height: 8 %>
            <h1> <%= workshop.start_at.strftime("%Hh%M")%> - <%= workshop.end_at.strftime("%Hh%M") %></h1>
            <h2> <%= workshop.name %></h2>
            <h3> Intervenant : <%= workshop.speaker %></h3>
            <p> <%= simple_format(workshop.description) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
