<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>10 NOVEMBRE 2022</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "new-picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 14h00 - 14h10</h1>
          <h2> Mot d'accueil</h2>
          <h3>- <span>Sébastien THIERRY</span>, Directeur Adjoint de l'Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Vanessa DUVAL</span>, animatrice</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1>14h10 – 14h35</h1>
          <h2>La mobilité à travers EUROPASS MOBILITÉ</h2>
          <h3>- <span>Laurent LASCROU</span>, Ingénieur de promotion et d’animation sur le dispositif Europass – Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Maria CORONA FERNANDEZ</span>, Responsable du service mobilité européenne et coordinatrice pédagogique – Lycée Gustave Eiffel Bordeau</h3>
          <h3>- <span>Bruno MOURAS et Léonie FABRE</span>, Formateur et élève apprenti - Lycée des métiers Condorcet Arcachon </h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1>14h35 – 15h00</h1>
          <h2>Unité Facultative de Mobilité</h2>
          <h3>- <span>Pierre TOUILLON</span>, expert enseignement et formation professionnels</h3>
          <h3>- <span>Christelle BANSE et Ynes BEGAUD</span>, Référente mobilité et coordinatrice pédagogique et élève apprenti - Bac Pro Campus du Lac </h3>
          <h3>- <span>Martine RIOT</span>, référente mobilité - CFA de la Chataigneraie Rouen </h3>
          <h3>- <span>Emmanuel FRANC</span>, Lycée Léonard de Vinci - Rectorat d’Amiens </h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1>15h00 – 15h25</h1>
          <h2>Mobilité à visée certificative / Reconnaissance de compétences professionnelles</h2>
          <h3>- <span>Emilie DEVERRE</span>, Responsable projets ingénierie des certifications - ANFA</h3>
          <h3>- <span>Pierre TOUILLON</span>, Conseiller en internationalisation des compétences - CCCA-BTP</h3>
          <h3>- <span>Bérénice BERTRAND</span>, valorisation du projet - CFA MFR de Normandie </h3>
          <h3>- <span>Andreas GABRIEL</span>, Responsable du Service Accompagnement des Établissements et Mobilité Européenne - ANFA</h3>
          <h3>- <span>Manuel GARCIA et Milagrosa Pérez CABALLERO</span>, Direction Formation professionnelle - Junta de Andalucia</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1>15h25 – 15h30</h1>
          <h2>Conclusion</h2>
        </div>
      </div>
    </div>
  </div>
</div>
