<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>6 JUIN 2023</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "new-picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <%= image_tag "green_line.svg", height: 8 %>
          <h1> 14h00 - 14h05</h1>
          <h2> Mot d'accueil</h2>
          <h3>- <span>Sébastien THIERRY</span>, Directeur-adjoint de l'Agence Erasmus+ France / Education Formation</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>14h05 – 14h30</h1>
          <h2>La mobilité à travers EUROPASS MOBILITÉ</h2>
          <h3>- <span>Laurent LASCROU</span>, Ingénieur de promotion et d’animation sur le dispositif Europass – Erasmus+ France / Education Formation</h3>
          <h3>- <span>Maria CORONA FERNANDEZ</span>, Responsable du service mobilité européenne – Lycée Gustave Eiffel Bordeaux</h3>
          <h3>- <span>Bruno MOURAS et Léonie FABRE</span>, Enseignant en cuisine et élève en Bac Professionnel Commercialisation et Service en Restauration – Lycée des métiers Condorcet Arcachon</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>14h30 - 14h55</h1>
          <h2>La reconnaissance certificative à travers l’unité facultative de mobilité</h2>
          <h3>- <span>Pierre TOUILLON</span>, Conseiller en internationalisation des compétences - CCCA-BTP</h3>
          <h3>- <span>Christelle BANSE et Ynes BEGAUD</span>, Référente mobilité et Apprentie en Bac Professionnel Métiers Commerce et Vente – Campus du Lac</h3>
          <h3>- <span>Martine RIOT</span>, Référente mobilité – Campus de la Châtaigneraie</h3>
          <h3>- <span>Emmanuel FRANC</span>, Enseignant référent à l'action européenne et internationale – Lycée Léonard de Vinci & Rectorat d’Amiens</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>14h55 – 15h20</h1>
          <h2>La reconnaissance certificative des compétences métiers</h2>
          <h3>- <span>Emilie DEVERRE</span>, Expert Erasmus+ de l'enseignement et de la formation professionnels</h3>
          <h3>- <span>Pierre TOUILLON</span>, Conseiller en internationalisation des compétences - CCCA-BTP</h3>
          <h3>- <span>Nathalie FREMAUX</span>, Référente projets européens – BTP CFA Centre-Val de Loire</h3>
          <h3>- <span>Bérénice DI PASQUALE BERTRAND</span>, Chargée de mission Mobilité – MFR de Balleroy </h3>
          <h3>- <span>Andreas GABRIEL</span>, Responsable du Service Accompagnement des Établissements et Mobilité Européenne – ANFA</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>15h20 – 15h30</h1>
          <h2>Perspectives européennes</h2>
          <h3>- <span>Mila P. CABALLERO</span>, Conseillère en internationalisation des projets –  Direction générale de la formation professionnelle en Andalousie</h3>
        </div>
      </div>
    </div>
  </div>
</div>
