<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>6 JUIN 2023</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "new-picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <%= image_tag "green_line.svg", height: 8 %>
          <h1> 14h00 - 14h05</h1>
          <h2> Ouverture</h2>
          <h3>- <span>Nelly Fesseau</span>, Directrice de l’Agence Erasmus+ France / Education Formation</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>14h05 – 14h40</h1>
          <h2>Le conseil en orientation à l’ère des transitions</h2>
          <h3>- <span>Gabrielle Halpern</span>, Philosophe, auteur de "<i>Tous centaures! Eloge de l'hybridation</i>" (Le Pommier)</h3>
          <h3>- <span>Mélanie Coquelin</span>, Responsable de la Cellule Compétences, Recherche, Innovation, Onisep</h3>
          <h3>- <span>Kathleen Lapie</span>, Coordinatrice, Centre national Euroguidance Luxembourg</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>14h40 - 15h05</h1>
          <h2>Le numérique au service des transitions professionnelles</h2>
          <h3>- <span>Marion Polack</span>, Assistante projet, Université Côte d’Azur</h3>
          <h3>- <span>Laurent Lascrou</span>, Ingénieur de promotion et d’animation, Agence Erasmus+ France / Education Formation</h3>
          <%= image_tag "green_line.svg", height: 8 %>
          <h1>15h05 – 15h30</h1>
          <h2>Les adaptations des certifications au service des reconversions professionnelles</h2>
          <h3>- <span>William Ameri</span>, Directeur du développement international et européen, AGFE</h3>
          <h3>- <span>Christophe Sadock</span>, Directeur de l’ingénierie et de la formation, AFPA</h3>
          <h3>- <span>René Bagorski</span>, Directeur de la certification professionnelle, France Compétences</h3>
          </div>
      </div>
    </div>
  </div>
</div>
