<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>5 JUILLET 2022</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="main-speaker">
        <h2> Des tables rondes <u>en présentiel et en ligne</u> pour mieux appréhender les 4 priorités et découvrir les potentialités du programme Erasmus+.</h2>
        <h2><u><%= link_to "Vous pouvez vous inscrire pour suivre ces tables rondes en ligne.", new_event_participant_path(Event.last), data:{turbolinks:false} %></u></h2>
      </div>
      <div class="card">
        <div class="card-body">
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 13h00 - 14h00</h1>
          <h2> Accueil et enregistrement </h2>
          <p></p>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 14h00 - 15h00</h1>
          <h2> Quel rôle pour Erasmus+ 2021-2027 dans la construction d’un Espace européen de l’éducation ?</h2>
          <p> Table ronde d’ouverture en présence de :</p>
          <h3>- <span>Sébastien Thierry</span>, Directeur Adjoint, Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Emmanuel Bouard</span>, Délégué adjoint aux affaires européennes et internationales, Ministère de l'Enseignement supérieur et de la Recherche</h3>
          <h3>- <span>Laurent Toulouse</span>, Sous-directeur de l’Enseignement supérieur et de la Recherche, Ministère de l'Europe et des Affaires Etrangères</h3>
          <h3>- <span>Vanessa Debiais Sainton</span>, Chef d’unité, DG EAC – Unité Enseignement supérieur, Commission européenne (à confirmer)</h3>
          <h3>- <span>Filip Van Depoele</span>, Chef d’unité, DG EAC – Unité dimension internationale, Commission européenne (à confirmer)</h3>
          <h3>➞ Animatrice de l'Agence Erasmus+ France / Education Formation : <span>Mathilde Bégrand</span>, Département promotion</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 15h00 - 15h30</h1>
          <h2> Pause </h2>
          <h3><span>Venez échanger avec les équipes en charge de Europass et des Publications de l’Agence Erasmus+ France.</span></h3>
          <p>- Corner Europass : <br>
          L’insertion professionnelle de vos étudiants est une de vos priorités ? Vous voulez découvrir les nouveaux <u><%= link_to "services Europass", "https://agence.erasmusplus.fr/programme-erasmus/outils/europass/", target: "_blank" %></u> ? Vous envisagez de délivrer le Supplément au Diplôme? L’équipe Europass est à votre disposition pour répondre à toutes vos questions ! </p>
          <p>- Corner Publications de l’Agence Erasmus+ France :<br>
          Vous cherchez à alimenter votre réflexion sur les enjeux, conditions et impacts de la mobilité ? Vous avez envie d’en savoir davantage sur les enquêtes et les indicateurs utilisés pour mieux connaître les publics du programme? Venez découvrir les <u><%= link_to "Notes de l’Observatoire", "https://agence.erasmusplus.fr/mediatheque/?collection=69", target: "_blank" %></u> et le <u><%= link_to "Journal of International Mobility", "https://agence.erasmusplus.fr/journal-of-international-mobility/", target: "_blank" %></u> (JIM) !</p>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 15h30 - 16h00</h1>
          <h2> Table ronde « Transition écologique » </h2>
          <p> Au-delà du transport à moindre empreinte carbone, comment Erasmus+ peut contribuer à l’intégration du développement durable au cœur de la stratégie des établissements pour :<br>
          - Eduquer au Développement Durable : faire comprendre les enjeux environnementaux, réfléchir à nos pratiques <br>
          - Mettre en œuvre des pratiques écoresponsables <br>
          - Développer de nouvelles compétences/ nouveaux métiers : concevoir des modules ou des cursus de formation répondant aux défis et aux besoins du futur <br>
          Cette réflexion portera aussi sur l’intégration du  développement durable au cœur de la stratégie des établissements  </p>
          <h2>Intervenants :</h2>
          <h3>- <span>Vincent Rousval</span>, Coordinateur Erasmus+, EPLEFA du Tarn</h3>
          <h3>- <span>Marine Godaux</span>, Directrice adjointe Relations Internationales et Européennes, AgroParisTech</h3>
          <h3>➞ Animatrice de l'Agence Erasmus+ France / Education Formation : <span>Corinne Lefay-Souloy</span>, Conseillère technique</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 16h00 - 16h30</h1>
          <h2> Table ronde « Inclusion et diversité » </h2>
          <p> Déjà présente dans les projets Erasmus+ 2014-2020, l’inclusion a été élevée au rang de priorité du programme 2021-2027 afin de permettre la participation de tous les publics. Mais comment penser l’Inclusion dans ses stratégies et projets internationaux ?  Cette table ronde, ponctuée par plusieurs témoignages, sera l’occasion de revenir sur la notion d’Inclusion et ses différentes dimensions ; les outils mis à disposition par le programme ; mais aussi des exemples de bonnes pratiques. </p>
          <h2>Intervenants :</h2>
          <h3>- <span>A venir</span></h3>
          <h3>➞ Animateurs de l'Agence Erasmus+ France / Education Formation : <span>A venir</span> </h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 16h30 - 17h00</h1>
          <h2> Pause </h2>
          <h3><span>Venez échanger avec les équipes en charge de Europass et des Publications de l’Agence Erasmus+ France.</span></h3>
          <p>- Corner Europass : <br>
          L’insertion professionnelle de vos étudiants est une de vos priorités ? Vous voulez découvrir les nouveaux <u><%= link_to "services Europass", "https://agence.erasmusplus.fr/programme-erasmus/outils/europass/", target: "_blank" %></u> ? Vous envisagez de délivrer le Supplément au Diplôme ? L’équipe Europass est à votre disposition pour répondre à toutes vos questions ! </p>
          <p>- Corner Publications de l’Agence Erasmus+ France :<br>
          Vous cherchez à alimenter votre réflexion sur les enjeux, conditions et impacts de la mobilité ?  Vous avez envie d’en savoir davantage sur les enquêtes et les indicateurs utilisés pour mieux connaître les publics du programme ? Venez découvrir les <u><%= link_to "Notes de l’Observatoire", "https://agence.erasmusplus.fr/mediatheque/?collection=69", target: "_blank" %></u>  et le <u><%= link_to "Journal of International Mobility", "https://agence.erasmusplus.fr/journal-of-international-mobility/", target: "_blank" %></u> (JIM) !</p>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 17h00 - 17h30</h1>
          <h2> Table ronde « Transition numérique » </h2>
          <p> Pour la Commission européenne "la transition numérique doit profiter à tous" ! Il s’agit d’offrir une technologie au service des personnes, d’une économie juste et compétitive ainsi que d’une société ouverte, démocratique et durable. Venez découvrir à travers de deux témoignages comment le programme Erasmus+ :<br>
          - Accompagne les établissements dans cette transition numérique, <br>
          - Permet aux établissements de proposer à leurs étudiants et personnels des activités pédagogiques innovantes et de nouvelles formes de mobilités.</p>
          <h2>Intervenants :</h2>
          <h3>- <span>A venir</span></h3>
          <h3>➞ Animateurs de l'Agence Erasmus+ France / Education Formation : <span>Jean-Louis Mayonnade</span>, Département Promotion et <span>Maxime Dutin</span>, Département Gestion des Projets</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 17h30 - 18h00</h1>
          <h2> Table ronde « Education et engagement citoyen » </h2>
          <p> L’engagement citoyen fait partie des priorités du programme Erasmus+ 2021-2027, qui se donne pour objectif de soutenir la participation active des citoyens européens à la vie démocratique et sociale de leurs institutions et de l'Union européenne, de renforcer la compréhension de l'UE et de favoriser un sentiment d'appartenance à celle-ci. <br>
          Cette table ronde sera l’occasion, à travers différents témoignages, de présenter plusieurs facettes de cette thématique qui prend aujourd’hui toute son importance en raison d’un contexte politique et géopolitique particulièrement en tension.</p>
          <h2>Intervenants :</h2>
          <h3>- <span>A venir</span></h3>
          <h3>➞ Animateurs de l'Agence Erasmus+ France / Education Formation : <span>A venir</span></h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 18h00 - 19h00</h1>
          <h2> Cocktail </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-program-date2">
    <div class="contenu-date2">
      <div class="main-speaker">
        <h2>Des séances de travail <u>en présentiel</u> pour échanger entre les participants sur la mise en pratique des 4 priorités du programme Erasmus+ dans leurs établissements. </h2>
        <p>- <span>Inclusion</span> : <i>à venir</i> <br>
           - <span>Transition écologique</span> : Les séances de travail seront l’occasion d’échanger notamment sur les sujets suivants : la sensibilisation au développement durable, la mise en œuvre des pratiques écoresponsables, le développement de nouvelles compétences, de nouveaux métiers.<br>
           - <span>Transition numérique</span> : L'occasion sera donnée aux participants d'échanger sur leurs pratiques et expériences des programmes intensifs hybrides. Nous vous proposons une mise en situation pratique. La séance de travail en présentiel du 6 juillet sera donc précédée d’une composante virtuelle obligatoire qui se tiendra le lundi 27/06/2022 de 11h à 12h. Après inscription, un lien zoom vous sera communiqué.<br>
           - <span>Éducation et engagement citoyen</span> : Les séances de travail seront l’occasion d’échanger notamment sur les sujets suivants : la constitution de réseaux d’ambassadeurs alumni, la reconnaissance des activités d’engagement citoyen, les compétences interculturelles, l’éducation aux médias.
        </p>
      </div>
      <div class="card">
        <div class="card-body">
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 09h00 - 09h30</h1>
          <h2> Accueil café</h2>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 09h30 - 10h30</h1>
          <h2> Séances de travail</h2>
          <p> Les sessions 1 et 2 des séances de travail sont identiques. Vous devrez choisir deux séances de travail différentes.</p>
          <h3>- <span>Inclusion</span> – Session 1</h3>
          <h3>- <span>Transition écologique</span> – Session 1</h3>
          <h3>- <span>Éducation et engagement citoyen</span> – Session 1</h3>
          <h3>- <span>Transition numérique / focus Programme intensif hybride</span> – Session 1 <br>
          Pour une mise en situation, cette séance de travail est précédée d’une composante virtuelle obligatoire qui se tiendra le lundi 27/06/2022 de 11h à 12h. Après inscription, un lien Zoom vous sera communiqué.</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 10h30 - 11h00</h1>
          <h2> Pause café</h2>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 11h00 - 12h00</h1>
          <h2> Séances de travail</h2>
          <p> Les sessions 1 et 2 des séances de travail sont identiques. Vous devrez choisir deux séances de travail différentes.</p>
          <h3>- <span>Inclusion</span> – Session 2</h3>
          <h3>- <span>Transition écologique</span> – Session 2</h3>
          <h3>- <span>Éducation et engagement citoyen</span> – Session 2</h3>
          <h3>- <span>Transition numérique / focus Programme intensif hybride</span> – Session 2<br>
          Pour une mise en situation, cette séance de travail est précédée d’une composante virtuelle obligatoire qui se tiendra le lundi 27/06/2022 de 11h à 12h. Après inscription, un lien Zoom vous sera communiqué.</h3>
          <p></p>
          <p></p>
          <h2> Inscription :</h2>
          <div div class="d-flex flex-wrap justify-content-center">
            <%= link_to "ASSISTER À L'ÉVÉNEMENT<br> À BORDEAUX".html_safe, "https://event.bienvenue.pro/webcheckin/3e2185bf93b7e992054ec786096c3dc7", target: "_blank", class: "button-webinaire" %>
            <%= link_to "ASSISTER À L'ÉVÉNEMENT <br> EN LIGNE".html_safe, new_event_participant_path(Event.last), data:{turbolinks:false}, class: "button-webinaire" %>
          </div>
        </div>
      </div>
    </div>
    <div class="date2">
      <div class="date2-text">
        <p>6 JUILLET 2022</p>
      </div>
      <div class="date2-picto">
      <%= image_tag "picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
  </div>
</div>
