<div class="banner-container">
  <div class="banner-program" style="background-image: url('<%= image_path 'program-banner.svg' %>');">
  </div>
</div>
<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <%= image_tag "date1.svg", alt: "14 JANVIER 2021", height: 100 %>
      <%= image_tag "calendar.svg", alt: "Program", height: 140 %>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <% @workshops_1.each do |workshop| %>
            <%= image_tag "sm-line-yellow.svg", height: 8 %>
            <h1> <%= workshop.start_at.strftime("%H:%M")%> - <%= workshop.end_at.strftime("%H:%M") %></h1>
            <h2> <%= workshop.name %></h2>
<!--             <h3> Intervenant : <%= workshop.speaker %></h3> -->
            <p> <%= workshop.description %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-program-date2">
    <div class="contenu-date2">
      <div class="card">
        <div class="card-body">
          <% @workshops_2.each do |workshop| %>
            <%= image_tag "sm-line-yellow.svg", height: 8 %>
            <h1> <%= workshop.start_at.strftime("%H:%M")%> - <%= workshop.end_at.strftime("%H:%M") %></h1>
            <h2> <%= workshop.name %></h2>
<!--             <h3> Intervenant : <%= workshop.speaker %></h3> -->
            <p> <%= workshop.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="date2">
      <%= image_tag "date2.svg", alt: "18 JANVIER 2021", height: 100 %>
      <%= image_tag "picto-program.svg", alt: "Program", height: 140 %>
    </div>
  </div>
</div>
