<div class="banner-container">
  <div class="banner-program position-relative" style="background-image: url('<%= image_path 'program-banner.png' %>');">
  </div>
</div>


<!-- <div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>5 JUILLET 2022</p>
      </div>
      <div class="date1-picto">
        <%#= image_tag "picto-calendar.svg", alt: "Program", height: 140 %>
      </div>
    </div>
    <div class="main-speaker">
    <h5>La conférence sera animée par <span>Emmanuelle Bastide,</span> journaliste à Radio France International (RFI).</h5>
    </div>
    <div class="contenu-date1">
      <div class="card">
        <div class="card-body">
          <%#= image_tag "yellow_line.svg", height: 8 %>
          <h1> 10h00 - 10h30</h1>
          <h2> La mobilité des apprentis avec le programme Erasmus+</h2>
          <p> Description </p>
          <h3>- <span>Sébastien Thierry</span>, Directeur adjoint de l’Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Sylvain Scherpereel</span>, Chargé de développement sur le secteur de l’enseignement et la formation professionnels, Agence Erasmus+ France / Education Formation</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-program-date2">
    <div class="main-speaker">
      <h5>Une session de réponses aux questions que vous nous avez posées lors de la conférence du <span> 14 janvier 2021 </span> est organisée par secteur éducatif le <span> 18 janvier 2021. </span></h5>
    </div>
    <div class="contenu-date2">
      <div class="card">
        <div class="card-body">
          <%#= image_tag "yellow_line.svg", height: 8 %>
          <h1> 10h00 - 10h30</h1>
          <h2> La mobilité des apprentis avec le programme Erasmus+</h2>
          <p> Description </p>
          <h3>- <span>Sébastien Thierry</span>, Directeur adjoint de l’Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Sylvain Scherpereel</span>, Chargé de développement sur le secteur de l’enseignement et la formation professionnels, Agence Erasmus+ France / Education Formation</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="date2">
      <div class="date2-text">
      <div class="date1-text">
        <p>6 JUILLET 2022</p>
      </div>
      </div>
      <div class="date2-picto">
      <%#= image_tag "picto-calendar.svg", alt: "Program", height: 180 %>
      </div>
    </div>
  </div>
</div> -->

<div class="program">
  <div class="container-program-date1">
    <div class="date1">
      <div class="date1-text">
        <p>5 JUILLET 2022</p>
      </div>
      <div class="date1-picto">
        <%= image_tag "picto-calendar.svg", alt: "Program", height: 120 %>
      </div>
    </div>
    <div class="contenu-date1">
      <div class="main-speaker">
        <h2> Des tables rondes pour mieux appréhender les 4 priorités et découvrir les potentialités du programme Erasmus+.</h2>
        <h2><u> Vous pouvez suivre ces tables rondes en ligne.</u></h2>
      </div>
      <div class="card">
        <div class="card-body">
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 13h00 - 14h00</h1>
          <h2> Accueil et enregistrement </h2>
          <p></p>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 14h00 - 15h00</h1>
          <h2> Quel rôle pour Erasmus+ 2021-2027 dans la construction d’un Espace européen de l’éducation ?</h2>
          <p> Table ronde d’ouverture en présence de :</p>
          <h3>- <span>Sébastien Thierry</span>, Directeur Adjoint, Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Emmanuel Bouard</span>, Délégué adjoint aux affaires européennes et internationale, Ministère de l'Enseignement supérieur et de la Recherche</h3>
          <h3>- <span>Laurent Toulouse</span>, Sous-directeur de l’Enseignement Supérieur et de la Recherche, Ministère de l'Europe et des Affaires Etrangères</h3>
          <h3>- <span>Vanessa Debiais Sainton</span>, Chef d’unité, DG EAC – Unité enseignement supérieur, Commission européenne (à confirmer)</h3>
          <h3>- <span>Filip Van Depoele</span>, Chef d’unité, DG EAC – Unité dimension internationale, Commission européenne (à confirmer)</h3>
          <p></p>
          <h3>Animateur : <span>Mathilde Bégrand</span>, Département promotion, Agence Erasmus+ France / Education Formation</h3>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 15h00 - 15h30</h1>
          <h2> Pause </h2>






          <p></p>
          <%= image_tag "yellow_line.svg", height: 8 %>
          <h1> 14h00 - 15h00</h1>
          <h2> Quel rôle pour Erasmus+ 2021-2027 dans la construction d’un Espace européen de l’éducation ?</h2>
          <p> Table ronde d’ouverture en présence de :</p>
          <h3>- <span>Sébastien Thierry</span>, Directeur Adjoint, Agence Erasmus+ France / Education Formation</h3>
          <h3>- <span>Emmanuel Bouard</span>, Délégué adjoint aux affaires européennes et internationale, Ministère de l'Enseignement supérieur et de la Recherche</h3>
          <h3>- <span>Laurent Toulouse</span>, Sous-directeur de l’Enseignement Supérieur et de la Recherche, Ministère de l'Europe et des Affaires Etrangères</h3>
          <h3>- <span>Vanessa Debiais Sainton</span>, Chef d’unité, DG EAC – Unité enseignement supérieur, Commission européenne (à confirmer)</h3>
          <h3>- <span>Filip Van Depoele</span>, Chef d’unité, DG EAC – Unité dimension internationale, Commission européenne (à confirmer)</h3>
          <p></p>
          <h3>Animateur : <span>Mathilde Bégrand</span>, Département promotion, Agence Erasmus+ France / Education Formation</h3>

          <div class="d-flex flex-wrap">
            <%= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.last), data:{turbolinks:false}, class: "button-webinaire" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
