<div class="container"><h1>Récapitulatif des inscriptions </h1>
<%= link_to "Export to CSV", company_admin_dashboard_path(@participants, @workshops, format: :csv), class: 'btn-erasmus' %>
</div>
<div id="Tab" class="container">
  <ul  class="nav nav-pills">
    <li class="active">
      <a  href="#participants" data-toggle="tab">Participants</a>
    </li>
    <li>
      <a href="#ateliers" data-toggle="tab">Ateliers</a>
    </li>
    <li>
      <a href="#questions" data-toggle="tab">Questions</a>
    </li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="participants">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom(s)</th>
            <th scope="col">Prénom(s)</th>
            <th scope="col">Email</th>
            <th scope="col">Ateliers sélectionnés</th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each_with_index do |participant, index| %>
          <tr>
            <td><%= "#{index + 1}" %></td>
            <td><%= participant.last_name.upcase %></td>
            <td><%= participant.first_name.upcase %></td>
            <td><%= participant.email %></td>
            <td><%= 1 %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ateliers">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ateliers</th>
            <th scope="col">Inscriptions</th>
          </tr>
        </thead>
        <tbody>
          <% @workshops.each do |workshop| %>
          <tr>
            <td><%= workshop.name %></td>
            <td><%= 1 %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
        <div class="tab-pane" id="questions">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom(s)</th>
            <th scope="col">Prénom(s)</th>
            <th scope="col">Email</th>
            <th scope="col">Organisme</th>
            <th scope="col">Questions</th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
          <tr>
            <td><%= question.last_name %></td>
            <td><%= question.first_name %></td>
            <td><%= question.email %></td>
            <td><%= question.organization %></td>
            <td><%= question.content %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
