<h2><span style="color: #91BD0F" > Bonjour <%= @participant.first_name %> <%= @participant.last_name %>,</span>
</h2>

<p>Nous vous remercions pour votre inscription à notre webconférence qui aura lieu <span style="color: #2752A0">le mercredi 10 novembre 2021, de 10h00 à 12h00.</span>.
</p>

<h2><span style="color: #2752A0; font-weight: bold"> Récapitulatif de votre inscription : </span></h2>
  <p> <span style="color: #91BD0F; font-weight: bold"> Nom : </span> <%= @participant.last_name %></p>
  <p> <span style="color: #91BD0F; font-weight: bold"> Prénom : </span> <%= @participant.first_name %></p>
  <p> <span style="color: #91BD0F; font-weight: bold"> Email : </span> <%= @participant.email %></p>
  <p> <span style="color: #91BD0F; font-weight: bold"> Établissement : </span> <%= @participant.organization %></p>
  <p> <span style="color: #91BD0F; font-weight: bold"> Fonction / Service : </span> <%= @participant.position %></p>
  <p> <span style="color: #91BD0F; font-weight: bold"> Ville : </span> <%= @participant.city %></p>
<p></p>
<h2><span style="color: #004F99; font-weight: bold"> Information importante : </span></h2>
<p> Le webinaire sera accessible, le 10 novembre 2021, sur la chaîne YouTube de l'Agence Erasmus+ France / Education & Formation : </h1>

<p><span style="display:block; color:white; font-weight:bold; border: solid 3px #DB3787; background-color: #DB3787; padding: 15px; text-decoration: none; margin-left: 150px; margin-right: 150px; text-align: center"><%= link_to "J'ACCÈDE AU WEBINAIRE", "https://www.youtube.com/c/AgenceErasmusFranceEducationFormation", target: "_blank" %></span></p>
<p></p>
<p></p>
<h2><span style="color: #2752A0; font-weight: bold">A bientôt! </span></h2>
