<p><span style="color: #005198" > Bonjour<%#= @participant.first_name %> <%#= @participant.last_name %>,</span>
</p>

<p>Nous vous remercions pour votre inscription au webinaire <span style="color: #005198; font-weight: bold">Reconnaissance de la mobilité européenne en Formation professionnelle Initiale</span>, qui aura lieu le jeudi 10 novembre 2022, de 14h00 à 15h30.</p>

<p><span style="color: #005198; font-weight: bold"> Récapitulatif de votre inscription : </span></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Nom : </span> <%= @participant.last_name %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Prénom : </span> <%= @participant.first_name %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Email : </span> <%= @participant.email %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Etablissement : </span> <%= @participant.organization %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Service : </span> <%= @participant.service %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Ville : </span> <%= @participant.city %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Région : </span> <%= @participant.region %></p>
    <p> <span style="color: #04ACFA; font-weight: bold"> Question : </span> <%= @participant.request %></p>
    <p></p>
    <p></p>
    <p><span style="color: #005198; font-weight: bold"> Information importante : </span></p>
    <p> La webconférence sera accessible, le jeudi 10 novembre 2022, sur la chaîne YouTube de l'Agence Erasmus+ France / Education & Formation, dans la rubrique <span style="color: #005198; font-weight: bold">EN DIRECT</span> : </p>
    <p> <%= link_to "J'ACCÈDE AU WEBINAIRE", "https://www.youtube.com/c/AgenceErasmusFranceEducationFormation", target: "_blank", class: "button-webinaire" %> </p>
<p><span style="color: #005198; font-weight: bold">A bientôt! </span></p>
