<h2><span style="color: #004F99" > Bonjour <%= @question.first_name %> <%= @question.last_name %>,</span>
</h2>
<p>Nous vous remercions pour votre participation !</p>

<p> <span style="color: #009EE2; font-weight: bold"> Email : </span> <%= @question.email %></p>
<p> <span style="color: #009EE2; font-weight: bold"> Prénom : </span> <%= @question.first_name %></p>
<p> <span style="color: #009EE2; font-weight: bold"> Nom : </span> <%= @question.last_name %></p>
<p> <span style="color: #009EE2; font-weight: bold"> Organisation : </span> <%= @question.organization %></p>
<p> <span style="color: #009EE2; font-weight: bold"> Secteur : </span> <%= @question.company %></p>
<p> <span style="color: #009EE2; font-weight: bold"> Fonction : </span> <%= @question.position %></p>
<p> <span style="color: #009EE2; font-weight: bold">Questions : </span><%= @question.content %> </p>
<p>Les réponses à vos questions vous seront apportées au cours des sessions, organisées par secteur, le 18 janvier 2021.</p>
<p style="color: #004F99">A bientôt!</p>
