<div class="container-dashboard">
  <h1>Récapitulatif des inscriptions</h1>
  <br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Participants
      </a>
    </li>
    <li class="d-flex justify-content-center align-items-center h-100"><%= link_to company_admin_participants_path(format: :csv), class: 'fas fa-arrow-circle-down height-46px' do %>
      <% end %></li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom(s)</th>
            <th scope="col">Prénom(s)</th>
            <th scope="col">Email</th>
            <th scope="col">Organisation</th>
            <th scope="col">Secteur</th>
            <th scope="col">Fonction</th>
            <th scope="col">Ateliers sélectionnés</th>
            <th scope="col">X</th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |participant| %>
          <tr>
            <td><strong> <%= participant.last_name.upcase %></strong></td>
            <td><strong><%= participant.first_name.upcase %></strong></td>
            <td><%= participant.email %></td>
            <td><%= participant.organization %></td>
            <td><%= participant.company %></td>
            <td><%= participant.position %></td>
            <td><% participant.bookings.order_by_workshop_date.each do |booking| %>
              <div><strong><%= time_with_day(booking.workshop.start_at)%> - <%= booking.workshop.end_at.strftime("%Hh%M") %></strong> : <%= booking.workshop.name %>
              </div>
              <% end %>
            </td>
            <td><%= link_to company_admin_participant_path(participant), method: :delete, data: { confirm: 'Voulez-vous supprimer ce participant?' } do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
