<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%#= stylesheet_link_tag "application-mailer", media: "all" %>
    <!-- <style type="text/css" media="screen">
      .btn {
        text-decoration: none;
        padding: 15px 30px;
        background: #FFED34;
        color: #004F99;
      }
    </style> -->
  </head>
  <body>
    <div style="background-color:white;max-width:800px;margin:0 auto;padding:30px">
    <%= image_tag attachments['logo_grdr_et_uasz.png'].url, style: 'height:80px; margin: 0 auto;', alt: 'GRDR et UASZ' %>
    </div>
    <div style="background-color:white;max-width:800px;border: solid #7A8E00;color:#2b2a2a;padding:30px;margin:0 auto;font-family:'Roboto', sans-serif;">
      <%= yield %>
    </div>
    <div style="background-color:white;max-width:800px;margin:0 auto;padding:30px">
    <%= image_tag attachments['logo_AFD.png'].url, style: 'height:60px; padding:10px;', alt: 'AFD' %>
    <%= image_tag attachments['logo_UE.png'].url, style: 'height:60px; padding:10px;', alt: 'UE' %>
    <%= image_tag attachments['logo_FAP.png'].url, style: 'height:60px; padding:10px;', alt: 'FAP' %>
    <%= image_tag attachments['logo_CFSI.png'].url, style: 'height:60px; padding:10px;', alt: 'CFSI' %>
    <%= image_tag attachments['logo_OIM.png'].url, style: 'height:60px; padding:10px;', alt: 'OIM' %>
    <%= image_tag attachments['logo_Expertise_France.png'].url, style: 'height:50px; padding:10px;', alt: 'Expertise France' %>
    </div>
  </body>
</html>
